$font-size: 16px;
$text-color: #333;
$text-color-muted: #828282;
$color-main: #f4511e;
$color-main-muted: #bf360c;

@mixin respond($breakpoint) {
  @if $breakpoint == screen-xxl {
    @media (min-width: 1460px) {
      @content;
    }
  }
  @if $breakpoint == screen-xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == screen-lg {
    @media (min-width: 992px) {
      @content;
    }
  }
  @if $breakpoint == screen-md {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == screen-sm {
    @media (min-width: 576px) {
      @content;
    }
  }
}
