.product
  .product__title #{product.title}
  .product__rating
    - let n = 1
      while n < 5
        if (n < product.rating)
          span.active ★
        else
          span ★
        - n++
  .product__text #{product.text}
  button(class="btn btn--main" type="button") button
