.product
  .product__title #{product.title}
  .rating
    - let n = 1
      while n < 5
        if (n < product.rating)
          span.rating__ell.rating__ell--active ★
        else
          span.rating__ell ★
        - n++
  .product__text #{product.text}
  button(class="btn btn--main" type="button") button
