doctype html
html(lang='en')
  block head
    include /component/part/head
  body
    include /component/part/header/header
    block content
    include /component/part/footer/footer
    include /component/part/script

